.Planet{
    width: var(--size);
    height: var(--size);

    background-color: var(--color);

    border-radius: 50%;

    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: auto;

    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.PlanetLogo {
    width: 70%;
    height: 70%;

    object-fit: contain;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    pointer-events: none;
}

.Planet--clickable{
    cursor: pointer;
}

.Planet--clickable:hover{
    transform: translate(-50%, -50%) scale(1.15);
}

.Planet:hover{
    box-shadow:
        0 0 15px var(--glow),
        0 0 30px var(--glow);
}
