.Projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vw;
    align-content: center;
    overflow-x: hidden;
    position:relative;
    overflow:hidden;

    background:
        radial-gradient(circle at 30% 50%,
            rgba(124,58,237,.08),
            transparent 35%),

        radial-gradient(circle at 80% 20%,
            rgba(34,211,238,.08),
            transparent 30%),

        linear-gradient(#ffffff,#f8fafc);
}

.Projects-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Projects-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cards{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    overflow-x: hidden;
}

.Cards::-webkit-scrollbar{
    display: none;
}

.CardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}
